
<h1>About</h1>
<p>
	The <a href="http://www.railstutorial.org/" target="_blank"><em>Ruby on Rails Tutorial</em></a>
	is a <a href="http://screencasts.railstutorial.org/" target="_blank"> screencast series</a> to teach web develomment with <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>. This is a sample application for the tutorial.
</p>
