

<h1>Help</h1>
<p>
	Get help on Ruby on Rails Tutorial at the <a href="http://www.railstutorial.org/#help" target="_blank">Ruby Tutorial help section</a>.
	To get help on sample app, see the <a href="http://www.railstutorial.org/book" target="_blank"><em>Ruby on rails tutuorial book</em></a>

</p>
