<div class="center jumbotron">
	<h1>Welcome to the Sample app</h1>
	<h2>
		This is the home page for the <a href="http://www.railstutorial.org/" target="_blank">Ruby Tutorial</a>
		Sample App
	</h2>
 	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> 
</div>
<%= link_to image_tag("http://rubyonrails.org/images/rails.png", alt: "Rails logo"), '	http://rubyonrails.org' %>