<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %><%= full_title(yield(:title)) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[ifltIE9]><script src="//cdnjs.cloudflare.com/ajaxlibs/html5shiv/r29/html5.min.js" ></script> -->
</head>
<body>
	
	<%= render 'layouts/header' %>
	<div class="container">
	<%= yield %>
	<%= render 'layouts/footer' %>
	</div>
</body>
</html>
